.about1-section {
  padding: 50px 20px;
  background-color: #fff3e0; 
  color: #3E2723; 
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1000px;
  margin: 100px auto;
}

.about1-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(129, 45, 45);  
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.about1-paragraph { 
  font-size: 1.2rem;
  color: rgb(93, 64, 55);  
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 30px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}


.slider-container {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  position: relative;
}


.image-slider {
  display: flex;
  width: calc(400%); 
}


.slide {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px; 
}

.about1-image {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
